.footer-content
        .footer-content__box
            .footer-content__box__item-back
                .icon-back
                    include icons/angle-left.html
                span.text Back
            .footer-content__box__item-confirm
                .text Confirm
                .icon-confirm
                    include icons/angle-right.html
