header
    span.outer-icon: include icons/arrow-left.html
    span Back to the editor
    span.inner-icon: include icons/angle-right.html
    span Metadata
    span.inner-icon: include icons/angle-right.html
    span Publications
    span.inner-icon: include icons/angle-right.html
    span SkyDiveMag
    span.inner-icon: include icons/angle-right.html
    span.bold-underline Confirm
    span.outer-icon: include icons/check.html




