extends ./components/baseMockup
block title
    title Flexbox experiment
block overlay
block content
    .container
        .row1
        .row2
            .row2__item1
            .row2__item2
        .row3
        .row4
            .row4__item1
            .row4__item2
            .row4__item3
    .container__column-drop
        .container__column-drop__item1
        .container__column-drop__item2
        .container__column-drop__item3
    .container__mostly-fluid
        .container__mostly-fluid__item1
        .container__mostly-fluid__item2
        .container__mostly-fluid__item3
        .container__mostly-fluid__item4
        .container__mostly-fluid__item5
    .container__mostly-fluid-2
        .container__mostly-fluid-2__item1
        .container__mostly-fluid-2__item2
        .container__mostly-fluid-2__item3
        .container__mostly-fluid-2__item4
        .container__mostly-fluid-2__item5
    .container__layout-shifter
        .container__layout-shifter__item1
        .container__layout-shifter__inner
            .container__layout-shifter__inner__item2
            .container__layout-shifter__inner__item3
        .container__layout-shifter__item4

    nav
    main



