extends ./components/baseMockup
block title
    title Flexbox experiment
block overlay
block content
    .containerIndex
        ul
            li
                a(href="task1.html") Task 1
            li
                a(href="task2.html") Task 2
            li
                a(href="task3.html") Task 3
            li
                a(href="flexboxlayout.html") flexbox layout



