extends ./components/baseMockup

block title
    title Error Page -- task2
block overlay
block content
    .container-box-error
        .container-error-message
            .container-error-message__icon-container
                .container-error-message__icon-container__inner
                    include ./components/icons/plus.html
            .container-error-message__title
                span &^%$^! Something went terribly wrong!
            .container-error-message__subtitle
                span Please contact the helpdesk with error code(s): e6584x


