extends ./components/baseMockup

block title
    title Confirm Page - task 4
block content
    include ./components/header
    .center-content
        .center-content__box
            .center-content__box__title
                span The following changes will be applied
                span Help
                span.center-content__box__title-icon: include ./components/icons/angle-down.html





